[Unit]
Description=File Browser
[Service]
User=ubuntu
Group=ubuntu
ExecStart=/usr/local/bin/filebrowser -r /data -a 0.0.0.0 -d /etc/filebrowser/filebrowser.db
[Install]
WantedBy=multi-user.target