[Unit]
Description=ServerStatus Client
After=network.target

[Service]
Type=simple
User=ubuntu
Group=ubuntu
ExecStart=/usr/bin/python /usr/local/serverstatus/client-linux.py

[Install]
WantedBy=multi-user.target